.container-fluid {
  height: 2700px;
  width: 750px;
  /* border: 2px solid black; */
}
.row-container {
  text-align: center;
  background-image: url(./conference_files/apartment-1822409__340.webp);
  color: white;
  margin-top: 20px;
}
.navbar {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  display: flex;
}
label.logo {
  font-size: 35px;
  line-height: 80px;
  padding: 0 50px;

  color: white;
  font-weight: bold;
}
label.logo {
  line-height: 80px;
  padding: 0 50px;

  color: white;
  font-weight: bold;
  text-align: center;
}
.logo-1 {
  width: 80px;
  height: 60px;
  background-color: goldenrod;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  font-style: oblique;
  justify-content: center;
}
nav ul {
  float: right;
  margin-right: 20px;
  text-decoration: none;
  list-style: none;
  justify-content: end;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 5px 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
}
a.active,
a:hover {
  background: none;
  color: rgb(196, 217, 235);
  transition: 5s 2222222222222;
}

.col-md-12 {
  color: blue;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
.container {
  /* border: 1px solid black; */
  margin: 0;
  margin-right: 20px;
  position: relative;
  width: 650px;
  padding-right: 70px;
  padding-left: 70px;
  margin-bottom: 30px;
  margin-left: 30px;
}
#blue {
  background-color: blue;
  color: white;
  margin-top: 0;
  width: 700px;
  padding: 30px;
  margin-bottom: 0;
}
.row img {
  padding: 0;
  margin: 0;
  height: 450px;
  width: 550px;
}
.container #button {
  margin-top: 0;
  margin-bottom: 30px;
}

.container button {
  border-radius: 50px;
  color: white;
}
#last {
  background-color: rgb(36, 26, 2);
  height: 170px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  margin-top: 20px;
  width: 680px;
  padding-left: 20px;
  align-content: center;
}
.col-md-6 .book {
  text-align: center;
  margin-left: 20px;
}

.ok {
  height: 25px;
  justify-content: center;
  text-align: center;
}
.email-address {
  border: 2px solid gold;
  color: white;
  background-color: rgb(36, 26, 2);
  width: 90px;
  height: 25px;
  margin-right: 25px;
}

.bi {
  margin-right: 8px;
  font-size: 10px;
  height: 10px;
  width: 15px;
  text-align: center;
  padding-top: 5px;
  border-radius: 2px;
  background-image: linear-gradient(rgb(36, 26, 2));
}
.father {
  padding-top: 20px;
}
